NET "R" LOC="N17" | IOSTANDARD="LVCMOS33";
NET "Clk_in" LOC="E3" | IOSTANDARD="LVCMOS33";
NET "call0" LOC="P17" | IOSTANDARD="LVCMOS33";
NET "call1" LOC="P18" | IOSTANDARD="LVCMOS33";
NET "call2" LOC="M17" | IOSTANDARD="LVCMOS33";
NET "enable" LOC="J15" | IOSTANDARD="LVCMOS33";
NET "bs" LOC="D14" | IOSTANDARD="LVCMOS33";
NET "mms" LOC="F16" | IOSTANDARD="LVCMOS33";
NET "mps" LOC="G16" | IOSTANDARD="LVCMOS33";
NET "ts" LOC="H14" | IOSTANDARD="LVCMOS33";
NET "ind0" LOC="G18" | IOSTANDARD="LVCMOS33";
NET "ind1" LOC="E17" | IOSTANDARD="LVCMOS33";
NET "ind2" LOC="F18" | IOSTANDARD="LVCMOS33";
NET "b" LOC="T16" | IOSTANDARD="LVCMOS33";
NET "mm" LOC="U14" | IOSTANDARD="LVCMOS33";
NET "m" LOC="T15" | IOSTANDARD="LVCMOS33";
NET "mp" LOC="V16" | IOSTANDARD="LVCMOS33";
NET "tp" LOC="U16" | IOSTANDARD="LVCMOS33";
NET "upOut" LOC="C17" | IOSTANDARD="LVCMOS33";
NET "downOut" LOC="D18" | IOSTANDARD="LVCMOS33";
NET "cout" LOC="K15" | IOSTANDARD="LVCMOS33";
